@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}

.profileCard {
  cursor: pointer;
  width: fit-content;
  display: none;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .profileCard {
    justify-self: center;
    padding: 1vw;
    max-width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}
.profileCard .profilePic {
  width: 300px;
  display: flex;
  margin: auto;
  object-fit: cover;
  height: 300px;
  border-radius: 50%;
  box-shadow: 3px 5px 16px rgba(82, 82, 82, 0.3);
  backface-visibility: hidden;
}
@media screen and (min-width: 800px) {
  .profileCard .profilePic {
    width: 20vw;
    height: 20vw;
    max-width: 100%;
  }
}
.profileCard .profileName {
  color: #D3573C;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem 0 1rem 0;
}
@media screen and (min-width: 800px) {
  .profileCard .profileName {
    font-size: 3.2vw;
  }
}
.profileCard .profileLocation {
  text-align: center;
  color: #901C1C;
  margin: 1rem 0 1rem 0;
}
.profileCard .profileTagline {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.4rem 0 0.4rem 0;
}
.profileCard .profilePrice {
  text-align: center;
  color: #525252;
  font-size: 0.8rem;
  margin: 0.4rem 0 0.8rem 0;
}
.profileCard .profileTags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
}
@media screen and (min-width: 800px) {
  .profileCard .profileTags {
    flex-wrap: wrap;
    gap: 0;
  }
}
.profileCard .profileTags li {
  display: block;
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
}
@media screen and (min-width: 800px) {
  .profileCard .profileTags li {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

.show {
  display: block;
}

.profileCardPP {
  cursor: pointer;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .profileCardPP {
    justify-self: center;
    padding: 1vw;
    max-width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}
.profileCardPP .profilePic {
  grid-column: 2/span 1;
  grid-row: 1/span 4;
  width: 32vw;
  justify-self: end;
  display: flex;
  object-fit: cover;
  height: 32vw;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(82, 82, 82, 0.3);
  backface-visibility: hidden;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profilePic {
    height: 22vw;
    width: 22vw;
  }
}
.profileCardPP .profileName {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  color: #D3573C;
  font-size: 2.1rem;
  font-weight: 100;
  align-self: center;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileName {
    font-size: 3.2vw;
  }
}
.profileCardPP .profileLocation {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  color: #901C1C;
  align-self: center;
}
.profileCardPP .profileTagline {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  font-size: 0.9rem;
  align-self: center;
}
.profileCardPP .profilePrice {
  display: none;
}
.profileCardPP .profileTags {
  grid-column: 1/span 1;
  grid-row: 4/span 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags {
    flex-wrap: wrap;
    gap: 0;
  }
}
.profileCardPP .profileTags li {
  display: block;
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
  font-size: 0.7rem;
  white-space: nowrap;
  height: fit-content;
  line-height: 0.2rem;
  margin: 0.1rem;
  padding: 6px;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags li {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags li {
    font-size: 0.8rem;
    padding: 10px;
  }
}

.show {
  display: block;
}

.photoCard {
  position: relative;
  width: 80vw;
  height: 60vw;
  margin: auto;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .photoCard {
    width: auto;
    height: 40vw;
    margin-bottom: 0;
  }
}
.photoCard .photoImg {
  object-fit: cover;
  object-position: 50% 30%;
  position: absolute;
  width: 100%;
  height: 50vw;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 800px) {
  .photoCard .photoImg {
    height: 25vw;
  }
}
.photoCard .photoVid {
  object-fit: cover;
  object-position: 50% 30%;
  position: absolute;
  width: 100%;
  height: 50vw;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 800px) {
  .photoCard .photoVid {
    height: 25vw;
  }
}
.photoCard .photoTitle {
  position: absolute;
  top: 50vw;
  font-size: 1rem;
  font-weight: 500;
  color: #901C1C;
  padding: 0.5rem 0 0 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .photoCard .photoTitle {
    top: 26vw;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }
}
.photoCard .photoPrice {
  position: absolute;
  top: 50vw;
  right: 14vw;
  font-size: 0.9rem;
  font-weight: bold;
  color: #901C1C;
  padding: 0.6rem 0 0 0;
}
@media screen and (min-width: 800px) {
  .photoCard .photoPrice {
    top: 26vw;
    right: 4.5rem;
  }
}
.photoCard .photoLikes {
  position: absolute;
  top: 50vw;
  right: 5vw;
  font-size: 1rem;
  font-weight: bold;
  color: #901C1C;
  padding: 0.5rem 0 0 0;
}
@media screen and (min-width: 800px) {
  .photoCard .photoLikes {
    top: 26vw;
    right: 1.5rem;
  }
}
.photoCard .like {
  position: absolute;
  top: 50vw;
  right: 0;
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
}
@media screen and (min-width: 800px) {
  .photoCard .like {
    top: 26vw;
  }
}
.photoCard .like input {
  display: none;
  cursor: pointer;
}
.photoCard .like input + .fa-heart {
  transition: all ease-in-out;
  color: #901C1C;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}
.photoCard .like input:checked + .fa-heart {
  font-weight: 900 !important;
  color: #901C1C;
  animation: coeur 0.8s ease;
  opacity: 1;
}
@media screen and (min-width: 800px) {
  .photoCard .like .fa-heart:hover {
    font-weight: 900 !important;
    color: #D3573C;
    animation: coeurHover 0.6s ease;
    opacity: 1;
    cursor: pointer;
  }
}
@keyframes coeur {
  0% {
    color: #901C1C;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #901C1C;
    opacity: 1;
    font-weight: 900;
  }
}
@keyframes coeurHover {
  0% {
    color: #901C1C;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #D3573C;
    opacity: 1;
    font-weight: 900;
  }
}

.slbOverlay, .slbWrapOuter, .slbWrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slbOverlay {
  overflow: hidden;
  z-index: 2000;
  background-color: #000;
  opacity: 0.7;
  -webkit-animation: slbOverlay 0.5s;
  -moz-animation: slbOverlay 0.5s;
  animation: slbOverlay 0.5s;
}

.slbWrapOuter {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2010;
}

.slbWrap {
  position: absolute;
  text-align: center;
}

.slbWrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slbContentOuter {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px auto;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 2020;
  text-align: left;
  max-width: 100%;
}

.slbContentEl .slbContentOuter {
  padding: 5em 1em;
}

.slbContent {
  position: relative;
}

.slbContentEl .slbContent {
  -webkit-animation: slbEnter 0.3s;
  -moz-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  background-color: #fff;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4);
}

.slbImageWrap {
  -webkit-animation: slbEnter 0.3s;
  -moz-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  position: relative;
}

.slbImageWrap:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  bottom: 5em;
  display: block;
  z-index: -1;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
  background-color: #FFF;
}

.slbDirectionNext .slbImageWrap {
  -webkit-animation: slbEnterNext 0.4s;
  -moz-animation: slbEnterNext 0.4s;
  animation: slbEnterNext 0.4s;
}

.slbDirectionPrev .slbImageWrap {
  -webkit-animation: slbEnterPrev 0.4s;
  -moz-animation: slbEnterPrev 0.4s;
  animation: slbEnterPrev 0.4s;
}

.slbImage {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 5em 0;
  margin: 0 auto;
}

.slbCaption {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 1.4em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.71429em 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.slbCloseBtn, .slbArrow {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

.slbCloseBtn::-moz-focus-inner, .slbArrow::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.slbCloseBtn:hover, .slbArrow:hover {
  opacity: 0.5;
}

.slbCloseBtn:active, .slbArrow:active {
  opacity: 0.8;
}

.slbCloseBtn {
  -webkit-animation: slbEnter 0.3s;
  -moz-animation: slbEnter 0.3s;
  animation: slbEnter 0.3s;
  font-size: 3em;
  width: 1.66667em;
  height: 1.66667em;
  line-height: 1.66667em;
  position: absolute;
  right: -0.33333em;
  top: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.slbLoading .slbCloseBtn {
  display: none;
}

.slbLoadingText {
  font-size: 1.4em;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}

.slbArrows {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}

.slbLoading .slbArrows {
  display: none;
}

.slbArrow {
  position: absolute;
  top: 50%;
  margin-top: -5em;
  width: 5em;
  height: 10em;
  opacity: 0.7;
  text-indent: -999em;
  overflow: hidden;
}

.slbArrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8em 0 0 -0.8em;
  border: 0.8em solid transparent;
}

.slbArrow.next {
  right: 0;
}

.slbArrow.next:before {
  border-left-color: #fff;
}

.slbArrow.prev {
  left: 0;
}

.slbArrow.prev:before {
  border-right-color: #fff;
}

.slbIframeCont {
  width: 80em;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 5em 0;
}

.slbIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
  background: #000;
}

@-webkit-keyframes slbOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@-moz-keyframes slbOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes slbOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@-webkit-keyframes slbEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slbEnter {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1em, 0);
    -moz-transform: translate3d(0, -1em, 0);
    -ms-transform: translate3d(0, -1em, 0);
    -o-transform: translate3d(0, -1em, 0);
    transform: translate3d(0, -1em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slbEnterNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slbEnterNext {
  from {
    opacity: 0;
    -moz-transform: translate3d(4em, 0, 0);
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnterNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(4em, 0, 0);
    -moz-transform: translate3d(4em, 0, 0);
    -ms-transform: translate3d(4em, 0, 0);
    -o-transform: translate3d(4em, 0, 0);
    transform: translate3d(4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slbEnterPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slbEnterPrev {
  from {
    opacity: 0;
    -moz-transform: translate3d(-4em, 0, 0);
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes slbEnterPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-4em, 0, 0);
    -moz-transform: translate3d(-4em, 0, 0);
    -ms-transform: translate3d(-4em, 0, 0);
    -o-transform: translate3d(-4em, 0, 0);
    transform: translate3d(-4em, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
header {
  position: fixed;
  background-color: white;
  z-index: 14;
  height: 10rem;
  transition: transform 0.4s;
}

main {
  height: 100vh;
}
main h1 {
  z-index: 99;
  position: fixed;
  right: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: #901C1C;
}

#nosPhotog {
  display: block;
  transition: transform 0.2s;
}

.logo {
  cursor: pointer;
  float: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  .logo {
    width: 26vw;
  }
}
.logo img {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .logo img {
    width: inherit;
  }
}

#profiles {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 12rem;
}
@media screen and (min-width: 800px) {
  #profiles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    padding: 1vw;
  }
}

nav {
  float: left;
}
@media screen and (min-width: 800px) {
  nav {
    width: 50vw;
    padding: 2vw;
  }
}

#filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterButton {
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
}
@media screen and (min-width: 800px) {
  .filterButton {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

/* .profileTags {
display: flex;
flex-direction: row;
justify-content: center;
gap: .5rem;
padding: 0;
& li{
    display: block;
    @include boutonTags;
}
} */
.scroll-down .page-header {
  transform: translate3d(0, -100%, 0);
}

.scroll-down #nosPhotog {
  transform: translate3d(0, -300%, 0);
}

.scroll-up .page-header {
  transform: none;
}

.scroll-up #nosPhotog {
  transform: none;
}

/* .scroll-up:not(.menu-open) .trigger-menu-wrapper {
  background: var(--lightpurple);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
} */
#contentButtonContainer {
  display: flex;
  justify-content: center;
}

#contentButton {
  display: none;
  position: fixed;
  top: 10px;
  margin: auto;
  z-index: 199;
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: #D3573C;
  border: 2px solid white;
  border-radius: 8px;
}

#contentButton:hover {
  background-color: #901C1C;
  color: #FAFAFA;
}

header {
  height: fit-content;
}

.profileCardPP {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 36vw;
  width: 92vw;
}
@media screen and (min-width: 800px) {
  .profileCardPP {
    height: 22vw;
    width: 88vw;
    margin: 6vw;
  }
}

#profilesPP {
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 1;
  top: 8rem;
}

#photoGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 75vw;
  margin: auto;
  position: absolute;
}
@media screen and (min-width: 800px) {
  #photoGallery {
    top: 60vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 35vw;
    justify-content: center;
    padding: 1vw;
  }
}

.photoAHREF {
  padding: 1vw;
}

#photoFilter {
  position: absolute;
  top: 50vw;
  left: 3vw;
  padding: 3vw 0 3vw 0;
  font-weight: bold;
  display: none;
}
@media screen and (min-width: 800px) {
  #photoFilter {
    display: block;
  }
}

.logo {
  width: 100vw;
}
.logo img {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .logo img {
    width: 26vw;
  }
}

/*# sourceMappingURL=style.css.map */
