@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}

.profileCard {
  cursor: pointer;
  width: fit-content;
  display: none;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .profileCard {
    justify-self: center;
    padding: 1vw;
    max-width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}
.profileCard .profilePic {
  width: 300px;
  display: flex;
  margin: auto;
  object-fit: cover;
  height: 300px;
  border-radius: 50%;
  box-shadow: 3px 5px 16px rgba(82, 82, 82, 0.3);
  backface-visibility: hidden;
}
@media screen and (min-width: 800px) {
  .profileCard .profilePic {
    width: 20vw;
    height: 20vw;
    max-width: 100%;
  }
}
.profileCard .profileName {
  color: #D3573C;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem 0 1rem 0;
}
@media screen and (min-width: 800px) {
  .profileCard .profileName {
    font-size: 3.2vw;
  }
}
.profileCard .profileLocation {
  text-align: center;
  color: #901C1C;
  margin: 1rem 0 1rem 0;
}
.profileCard .profileTagline {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.4rem 0 0.4rem 0;
}
.profileCard .profilePrice {
  text-align: center;
  color: #525252;
  font-size: 0.8rem;
  margin: 0.4rem 0 0.8rem 0;
}
.profileCard .profileTags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
}
@media screen and (min-width: 800px) {
  .profileCard .profileTags {
    flex-wrap: wrap;
    gap: 0;
  }
}
.profileCard .profileTags li {
  display: block;
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
}
@media screen and (min-width: 800px) {
  .profileCard .profileTags li {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

.show {
  display: block;
}

.profileCardPP {
  cursor: pointer;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .profileCardPP {
    justify-self: center;
    padding: 1vw;
    max-width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }
}
.profileCardPP .profilePic {
  grid-column: 2/span 1;
  grid-row: 1/span 4;
  width: 32vw;
  justify-self: end;
  display: flex;
  object-fit: cover;
  height: 32vw;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(82, 82, 82, 0.3);
  backface-visibility: hidden;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profilePic {
    height: 22vw;
    width: 22vw;
  }
}
.profileCardPP .profileName {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  color: #D3573C;
  font-size: 2.1rem;
  font-weight: 100;
  align-self: center;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileName {
    font-size: 3.2vw;
  }
}
.profileCardPP .profileLocation {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  color: #901C1C;
  align-self: center;
}
.profileCardPP .profileTagline {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  font-size: 0.9rem;
  align-self: center;
}
.profileCardPP .profilePrice {
  display: none;
}
.profileCardPP .profileTags {
  grid-column: 1/span 1;
  grid-row: 4/span 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags {
    flex-wrap: wrap;
    gap: 0;
  }
}
.profileCardPP .profileTags li {
  display: block;
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
  font-size: 0.7rem;
  white-space: nowrap;
  height: fit-content;
  line-height: 0.2rem;
  margin: 0.1rem;
  padding: 6px;
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags li {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
@media screen and (min-width: 800px) {
  .profileCardPP .profileTags li {
    font-size: 0.8rem;
    padding: 10px;
  }
}

.show {
  display: block;
}

.photoCard {
  position: relative;
  width: 80vw;
  height: 60vw;
  margin: auto;
  cursor: pointer;
}
.photoCard .photoImg {
  object-fit: cover;
  object-position: 50% 30%;
  position: absolute;
  width: 100%;
  height: 50vw;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.photoCard .photoVid {
  object-fit: cover;
  object-position: 50% 30%;
  position: absolute;
  width: 80vw;
  overflow: hidden;
  height: 50vw;
}
.photoCard .photoTitle {
  position: absolute;
  top: 50vw;
  font-size: 1rem;
  font-weight: 500;
  color: #901C1C;
  padding: 0.5rem 0 0 0;
}
.photoCard .photoPrice {
  position: absolute;
  top: 50vw;
  right: 12vw;
  font-size: 0.9rem;
  font-weight: bold;
  color: #901C1C;
  padding: 0.6rem 0 0 0;
}
.photoCard .photoLikes {
  position: absolute;
  top: 50vw;
  right: 3vw;
  font-size: 1rem;
  font-weight: bold;
  color: #901C1C;
  padding: 0.5rem 0 0 0;
}
.photoCard .like {
  position: absolute;
  top: 50vw;
  right: 0;
  font-size: 1rem;
  padding: 0.5rem 0 0 0;
}
.photoCard .like input {
  display: none;
  cursor: pointer;
}
.photoCard .like input + .fa-heart {
  transition: all ease-in-out;
  color: #901C1C;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}
.photoCard .like input:checked + .fa-heart {
  font-weight: 900 !important;
  color: #901C1C;
  animation: coeur 0.8s ease;
  opacity: 1;
}
@media screen and (min-width: 800px) {
  .photoCard .like .fa-heart:hover {
    font-weight: 900 !important;
    color: #D3573C;
    animation: coeurHover 0.6s ease;
    opacity: 1;
    cursor: pointer;
  }
}
@keyframes coeur {
  0% {
    color: #901C1C;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #901C1C;
    opacity: 1;
    font-weight: 900;
  }
}
@keyframes coeurHover {
  0% {
    color: #901C1C;
    opacity: 0.2;
    font-weight: 400;
  }
  10% {
    color: white;
    opacity: 0.2;
    font-weight: 900;
  }
  100% {
    color: #D3573C;
    opacity: 1;
    font-weight: 900;
  }
}

header {
  position: fixed;
  background-color: white;
  z-index: 14;
  height: 10rem;
  transition: transform 0.4s;
}

main {
  height: 100vh;
}
main h1 {
  z-index: 99;
  position: fixed;
  right: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: #901C1C;
}

#nosPhotog {
  display: block;
  transition: transform 0.2s;
}

.logo {
  cursor: pointer;
  float: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  .logo {
    width: 26vw;
  }
}
.logo img {
  width: 50%;
}
@media screen and (min-width: 800px) {
  .logo img {
    width: inherit;
  }
}

#profiles {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 12rem;
}
@media screen and (min-width: 800px) {
  #profiles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    padding: 1vw;
  }
}

nav {
  float: left;
}
@media screen and (min-width: 800px) {
  nav {
    width: 50vw;
    padding: 2vw;
  }
}

#filterButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterButton {
  cursor: pointer;
  color: #901C1C;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 0.2);
  border-radius: 16px;
}
@media screen and (min-width: 800px) {
  .filterButton {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

/* .profileTags {
display: flex;
flex-direction: row;
justify-content: center;
gap: .5rem;
padding: 0;
& li{
    display: block;
    @include boutonTags;
}
} */
.scroll-down .page-header {
  transform: translate3d(0, -100%, 0);
}

.scroll-down #nosPhotog {
  transform: translate3d(0, -300%, 0);
}

.scroll-up .page-header {
  transform: none;
}

.scroll-up #nosPhotog {
  transform: none;
}

/* .scroll-up:not(.menu-open) .trigger-menu-wrapper {
  background: var(--lightpurple);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
} */
#contentButtonContainer {
  display: flex;
  justify-content: center;
}

#contentButton {
  display: none;
  position: fixed;
  top: 10px;
  margin: auto;
  z-index: 199;
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background-color: #D3573C;
  border: 2px solid white;
  border-radius: 8px;
}

#contentButton:hover {
  background-color: #901C1C;
  color: #FAFAFA;
}

header {
  height: fit-content;
}

.profileCardPP {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 36vw;
  width: 92vw;
}
@media screen and (min-width: 800px) {
  .profileCardPP {
    height: 22vw;
    width: 88vw;
    margin: 6vw;
  }
}

#profilesPP {
  width: 100%;
  position: absolute;
  margin: 0;
  z-index: 1;
  top: 8rem;
}

#photoGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 20rem;
  margin: auto;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
