.photoCard{
    position: relative;
    width: 80vw;
    height: 60vw;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    @include large-only{
        width: auto;
        height: 40vw;
        margin-bottom: 0;
        
    }
    & .photoImg{
        object-fit: cover;
        object-position: 50% 30%;
        position: absolute;
        width: 100%;
        height: 50vw;
        border-radius: .5rem .5rem .5rem .5rem;
        @include large-only{
            height: 25vw;
        }
    }
    & .photoVid{
        object-fit: cover;
        object-position: 50% 30%;
        position: absolute;
        width: 100%;
        height: 50vw;
        border-radius: .5rem .5rem .5rem .5rem;
        @include large-only{
            height: 25vw;
        }
    }
    
    & .photoTitle{
        position: absolute;
        top: 50vw;
        font-size: 1rem;
        font-weight: 500;
        color: $color-primary-1;
        padding: .5rem 0 0 0;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        @include large-only{
            top: 26vw;
            width: 60%;
            display: flex;
            flex-wrap: wrap;
        }
    }
    & .photoPrice{
        position: absolute;
        top: 50vw;
        right: 14vw;
        font-size: .9rem;
        font-weight: bold;
        color: $color-primary-1;
        padding: .6rem 0 0 0;
        @include large-only{
            top: 26vw;
            right: 4.5rem;
        }
    }
    & .photoLikes{
        position: absolute;
        top: 50vw;
        right: 5vw;
        font-size: 1rem;
        font-weight: bold;
        color: $color-primary-1;
        padding: .5rem 0 0 0;
        @include large-only{
            top: 26vw;
            right: 1.5rem;
        }
    }
    & .like{
        position: absolute;
        top: 50vw;
        right: 0;
        font-size: 1rem;
        padding: .5rem 0 0 0;
        @include large-only{
            top: 26vw;
        }
        & {
        @include likeButton;
        }
    }
    
}
