.profileCard {
  width: 100%;
  display: none;
  margin: 2rem 0 2rem 0;
  & .profilePic {
    width: 300px;
    display: flex;
    margin: auto;
    object-fit: cover;
    height: 300px;
    border-radius: 50%;
    box-shadow: 3px 5px 16px rgba($color-secondary-1, 0.3);
    backface-visibility: hidden;
  }
  & .profileName {
    color: $color-primary-2;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin: 2rem 0 1rem 0;
  }
  & .profileLocation {
    text-align: center;
    color: $color-primary-1;
    margin: 1rem 0 1rem 0;
  }
  & .profileTagline {
    text-align: center;
    font-size: 0.8rem;
  }
  & .profilePrice {
    text-align: center;
    color: $color-secondary-1;
    font-size: 0.8rem;
  }
}

.show {
  display: block;
}
