@mixin boutonTags {
    cursor: pointer;
    color: $color-primary-1;
    font-weight: bold;
    padding: 6px 8px 6px 8px;
    margin: .2rem .2rem .2rem .2rem;
    background-color: white;
    border: 1px solid rgba($color-secondary-1, .2);
    border-radius: 16px;
    @include large-only{
        font-size: .75rem;
        white-space: nowrap;
    }
}