header {
    position: fixed;
    background-color: white;
    z-index: 14;
    height: 10rem;
    transition: transform .4s;
}

main {
    height: 100vh;
 
& h1{
    z-index: 99;
    position: fixed;
    right: 2rem;
    font-size: 1rem;
    margin-top: 2rem;
    color: $color-primary-1;
}
}

#nosPhotog{
    display: block;
    transition: transform .2s;
}

.logo{
    float: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    & img{
        width: 50%;
    }
}

#profiles{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 12rem;
}

nav{
    float: left;
}

#filterButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.filterButton{
    @include boutonTags;
}

.profileTags {
display: flex;
flex-direction: row;
justify-content: center;
gap: .5rem;
padding: 0;
& li{
    display: block;
    max-width: fit-content;
    @include boutonTags;
}
}

.scroll-down .page-header {
    transform: translate3d(0, -100%, 0);
  }

  .scroll-down #nosPhotog {
    transform: translate3d(0, -300%, 0);
  }
  
  .scroll-up .page-header {
    transform: none;
  }

  .scroll-up #nosPhotog {
    transform: none;
  }
  
  /* .scroll-up:not(.menu-open) .trigger-menu-wrapper {
    background: var(--lightpurple);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  } */
  #contentButtonContainer{
      display: flex;
      justify-content: center;
  }

  #contentButton {
    display: none; 
    position: fixed; 
    top: 10px; 
    margin: auto; 
    z-index: 199; 
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 6px 8px 6px 8px;
    margin: .2rem .2rem .2rem .2rem;
    background-color: $color-primary-2;
    border: 2px solid white;
    border-radius: 8px;
  }
  
  #contentButton:hover {
    background-color: $color-primary-1;
    color: $color-secondary-2;
  }