header {
    position: fixed;
    background-color: white;
    z-index: 14;
    height: 10rem;
    
}

main {
    height: 100vh;
 
& h1{
    z-index: 99;
    position: fixed;
    right: 2rem;
    font-size: 1rem;
    margin-top: 2rem;
    color: $color-primary-1;
}
}

.logo{
    float: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    & img{
        width: 50%;
    }
}

#profiles{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 12rem;
}

nav{
    float: left;
}

#filterButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.filterButton{
    @include boutonTags;
}

.profileTags {
display: flex;
flex-direction: row;
justify-content: center;
gap: .5rem;
padding: 0;
& li{
    display: block;
    max-width: fit-content;
    @include boutonTags;
}
}