header {
    position: fixed;
    
}

main {
    height: 100vh;
 
& h1{
    float: right;
    font-size: 1rem;
    margin-bottom: 10rem;
    color: $color-primary-1;
    padding-right: 1rem;
}
}

.logo{
    float: left;
    margin-bottom: 1rem;
    & img{
        width: 50%;
    }
}

.profiles{
    width: 100%;
    
}

nav{
    float: left;
}

#filterButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.filterButton{
    @include boutonTags;
}

.profileTags {
display: flex;
flex-direction: row;
justify-content: center;
gap: .5rem;
padding: 0;
& li{
    display: block;
    max-width: fit-content;
    @include boutonTags;
}
}