header{
height: fit-content;
}

#photographer-main{
    display: flex;
    flex-direction: column;
    padding: 6rem 5vw 5vw 5vw;
    justify-content: normal;
}

.profileCardPP {
    display: grid;
    // grid-template-columns: 58% 32%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 36vw;
    width: 92vw;
    @include large-only{
height: 22vw;
width: 88vw;
margin: auto;
    }
    
}

#profilesPP{
    width: 100%;
    //position: absolute;
    position: relative;
    margin: 0;
    z-index: 1;
}

#photoGallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 75vw;
    margin: auto;
    //position: absolute;
    @include large-only{
        top: 42vw;
        display: grid;
        position: inherit !important;
        height: inherit !important;
        grid-template-columns: 33% 33% 33%;
        grid-auto-rows: 32vw;
        grid-gap: 2%;
        max-width: 97%;
        justify-content: center;
        //padding: 1vw;
    }
}

.photoAHREF{
    //padding: 1vw;
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
} 

#photoFilter{
    //position: absolute;
    top: 50vw;
    left: 3vw;
    padding: 3vw 0 3vw 0;
    font-weight: bold;
    display: none;
    @include large-only{
        display: block;
    }
}

.logoP{
    width: 100vw;
    & img{
        width: 50%;
        @include large-only{
        width: 26vw;
        }
    }
}

#contentButtonContainer2{
    display: flex;
    justify-content: center;
}

#contentButton2 {
  display: none; 
  position: fixed; 
  top: 10px; 
  margin: auto; 
  z-index: 199; 
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  margin: .2rem .2rem .2rem .2rem;
  background-color: $color-primary-2;
  border: 2px solid white;
  border-radius: 8px;
}

.profileTags{
    & li{
        cursor: pointer;
        & label{
            cursor: pointer;
            
        }
        & input[type="checkbox"]{
            width: 0;
       
       
    }
    }
}

.profileTags li input:checked + label {
    background-color: $color-primary-1;
    color: white;
}

.profileTags li.selected input:checked + label {
    background-color: $color-primary-1;
    color: white;
}

.hidePhoto{
    display: none;
}

.showPhoto{
    display: initial;
}